* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #0076df;
  /* color: inherit; */
}
ul {
  list-style: none;
}
.header-wrapper {
  position: sticky;
  background-color: #fff;
  color: #000;
  top: 0;
  font-weight: 200;
  font-size: 0.75rem;
  z-index: 1000;
}
.header-wrapper ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.container {
  width: 950px;
  /* max-width: 1200px; */
  padding: 0 10px;
  margin: 0 auto;
}

.header-wrapper .main-navigation ul li a {
  text-decoration: none;
  color: #000;
}

.header-wrapper .main-navigation ul li {
  display: inline-block;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}

.header-wrapper .main-navigation ul li:hover {
  opacity: 1;
}
/* .nav-logo,
.nav-search,
.nav-bag {
  width: 18px;
  display: block;
} */
.header-wrapper .main-navigation ul li.nav-logo,
.header-wrapper .main-navigation ul li.nav-search,
.header-wrapper .main-navigation ul li.nav-bag {
  padding: 0 8px;
}

.hero {
  text-align: center;
  background: #fafafa;
  padding: 40px 0;
}

.hero-title {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}
.typography-hero-title {
  font-size: 56px;
  font-weight: 600;
}
.hero-subtitle {
  font-size: 2em;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 980px;
  transition: all 0.25s ease;
  margin: 0 8px;
  margin-top: 10px;
}
.first-button {
  background: #0076df;
  color: white;
}

.secondary-button:hover {
  background: #0076df;
  color: #fff;
}

.secondary-button:active {
  transform: scale(0.97);
}

.product {
  background: #fff;
  text-align: center;
  padding: 40px 0;
}
/* .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
} */

/* .hero-image img {
  margin-top: 40px;
  max-width: 100%;
} */
.hero-image {
  width: 100%;
  height: 70vh;
  max-height: 700px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product {
  padding: 40px 0;
  text-align: center;
}
.product h2 {
  font-size: 48px;
  font-weight: 600;
}
.product p {
  font-size: 22px;
  margin: 10px 0 20px;
}
/* .product-links a {
  margin: 0 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #0076df;
  color: white;
  border-radius: 980px;
  font-weight: bold;
  transition: all 0.25s ease;
} */

.mac-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 980px;
  transition: all 0.25s ease;
  margin: 0 8px;
  margin-top: 10px;
}
.third-button {
  background: #0076df;
  color: #fff;
}
.fourth-button:hover {
  background: #0076df;
  color: #fff;
}

.fourth-button:active {
  transform: scale(0.97);
}
.product-image img {
  margin-top: 40px;
  padding: 0 500px;
  max-width: 100%;
}
.product-iPad-image {
  margin-top: 40px;
  max-width: 100%;
}

/* .iPad-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 980px;
  transition: all 0.25s ease;
  margin: 0 8px;
  margin-top: 10px;
} */

/* 
.product h2 {
  font-size: 48px;
  font-weight: 600;
}

.product p {
  font-size: 22px;
  margin: 10px 0 20px;
}

.product-links a {
  margin: 0 10px;
}

.product-image img {
  max-width: 100%;
  margin-top: 30px;
}

.promotion,
.product-watch {
  display: flex;
}
.promo-item {
  text-align: center;
  align-items: center;
}
.product-content {
  text-align: center;
  position: absolute;
} */
