* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.header-wrapper {
  background-color: #fff;
  color: #000;
  font-weight: 200;
  font-size: 0.75rem;
}
.header-wrapper ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-wrapper .main-navigation ul li a {
  text-decoration: none;
  color: #000;
}

.header-wrapper .main-navigation ul li {
  display: inline-block;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}

.header-wrapper .main-navigation ul li:hover {
  opacity: 1;
}
.nav-logo,
.nav-search,
.nav-bag {
  width: 18px;
  display: block;
}
.header-wrapper .main-navigation ul li.nav-logo,
.header-wrapper .main-navigation ul li.nav-search,
.header-wrapper .main-navigation ul li.nav-bag {
  padding: 0 8px;
}

.hero {
  text-align: center;
}

.hero-title {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}
.typography-hero-title {
  font-size: 56px;
}
