/* Reset / Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #0076df;
}
ul {
  list-style: none;
}

body {
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
/* Layout Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* section {
  margin-bottom: 12px;
} */

/* Header Navigation */
.header-wrapper {
  position: sticky;
  background-color: #fff;
  color: #000;
  top: 0;
  font-weight: 200;
  font-size: 0.75rem;
  z-index: 1000;
}

/* Navigation List */
.header-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-wrapper .main-navigation ul li a {
  text-decoration: none;
  color: #000;
}

.header-wrapper .main-navigation ul li {
  display: inline-block;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}

.header-wrapper .main-navigation ul li:hover {
  opacity: 1;
}

.header-wrapper .main-navigation ul li.nav-logo,
.header-wrapper .main-navigation ul li.nav-search,
.header-wrapper .main-navigation ul li.nav-bag {
  padding: 0 8px;
}

/* Hero Section */
.hero {
  text-align: center;
  background: #fafafa;
  padding: 60px 0;
}

.hero-title {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}

/* Hero Typography */
.typography-hero-title {
  font-size: 56px;
  font-weight: 600;
}
.hero-subtitle {
  font-size: 2em;
}

/* Button System */
.btn {
  display: inline-block;
  padding: 11px 21px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 980px;
  transition: all 0.25s ease;
  margin: 0 8px;
  margin-top: 10px;
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.btn-primary {
  background: #0076df;
  color: white;
}

.btn-secondary {
  background: #fff;
  color: #0076df;
  border: 1px solid #0076df;
}
.btn-secondary:hover {
  background: #0076df;
  color: #fff;
}

.btn-secondary:active {
  transform: scale(0.97);
}

.hero-image {
  width: 100%;
  height: 70vh;
  max-height: 700px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Product Sections */
.product {
  background: #fff;
  text-align: center;
  padding: 40px 0;
}

.product h2 {
  font-size: 48px;
  font-weight: 600;
}
.product p {
  font-size: 22px;
  margin: 10px 0 20px;
}

.third-button {
  background: #0076df;
  color: #fff;
}
.btn-outline {
  border: 1px solid #0076df;
  color: #0076df;
  background: white;
}

.btn-outline:hover {
  background: #0076df;
  color: white;
}

.btn-outline:active {
  transform: scale(0.97);
}
.product-image {
  margin-top: 40px;
}

.product-image img {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.product-iPad-image {
  margin-top: 40px;
  max-width: 100%;
}

.fifth-button {
  background: #0076df;
  color: #fff;
}

/* Promotion Section */
.promotion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 12px;
}
.promo-card {
  position: relative;
  padding: 40px 20px;
  text-align: center;
  background: #f5f5f7;
  overflow: hidden;
}
.promo-wwdc {
  position: relative;
  background: #000;
  color: white;
}
.promo-wwdc p {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.promo-wwdc img {
  width: 100%;
  margin-top: 20px;
}
.promo-wwdc img {
  width: 100%;
  display: block;
}
.promo-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.promo-wwdc-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 980px;
  transition: all 0.25s ease;
  margin: 0 8px;
  margin-top: 10px;
}
.seventh-wwdc-button {
  background: #0076df;
  color: #fff;
  border: 1px solid #0076df;
}

.product-logo {
  width: 22px;
  height: auto;
  width: 22px;
  margin-top: -2px;
}

.watch-button-series {
  background: #0076df;
  color: #fff;
}

.product-grid {
  width: 100%;
}

/* Product Grid Section */
.product-grid .grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.grid-item {
  position: relative;
  padding: 40px 20px;
  min-height: 580px;
  text-align: center;
  background: #f5f5f7;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.grid-item p {
  font-size: 17px;
  margin-bottom: 15px;
}

.grid-item img:not(.grid-logo) {
  width: 100%;
  object-fit: contain;
}

.grid-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product1-title {
  display: flex;
  align-items: center;
  gap: 6px;
}
.grid-title {
  display: flex;
  align-items: center;
  gap: 6px;
}

.grid-header p {
  font-size: 17px;
  /* color: #6e6e73; */
  margin-top: 6px;
  line-height: 1.4;
}

.grid-header h2 {
  font-size: 28px;
  font-weight: 600;
}
.grid-item:first-child {
  background: #000;
  color: white;
}

.Mack-pro {
  background: #0076df;
  color: #fff;
}
.MacBook-button-pro {
  background: #000;
  color: #0076df;
  border: 1px solid #0076df;
}
.MacBook-button-pro:hover {
  background: #0076df;
  color: #fff;
}

.AirPods img {
  margin-top: 10px;
}

.AirPods-button {
  background: #0076df;
  color: #fff;
}
.AirPods-pro-button {
  background: #fff;
  color: #0076df;
}

.trading-button {
  background: #0076df;
  color: #fff;
}

.card-button {
  background: #0076df;
  color: #fff;
}
.card-button-pur {
  background: #fff;
  color: #0076df;
}

/* Footer Section */

.site-footer {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family:
    "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.site-footer ul {
  padding-bottom: 20px;
}
.site-footer ul li {
  padding: 5px 0;
  font-size: 0.9em;
}
.footer-content {
  margin: 0 auto;
  width: 980px;
  padding: 0 22px;
}
.footer-info {
  border-bottom: 1px solid gray;
  padding: 17px 0 11px;
}

.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 20px;
}

.upper-text-container a {
  text-decoration: none;
  color: #515154;
}
.upper-text-container a:hover {
  text-decoration: underline;
}
.footer-links-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-links-wrapper a {
  color: #515154;
  text-decoration: none;
}
.footer-links-wrapper a:hover {
  text-decoration: underline;
}
.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
}
.my-apple-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 16px;
  margin-bottom: 19px;
}
